@using System.Data
@using System.Linq
@{
    ViewData["Title"] = "Home Page";
    // Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidraçaria do Marcinho</title>
</head>


<link rel="stylesheet" href="~/css/reset.css">
<link rel="stylesheet" href="~/css/style.css">


<body>

    <!-- barra superior     -->
    <div class="borda_superior"></div>

    <div class="botoes_line">
        <!-- Botão para acessar clientes -->
        <a href="@Url.Action("Index", "Clientes")">
            <div class="botao" id="botao_cliente">
                <img src="/images/user.png" alt="icone usuário" class="icons">
                <p class="text_botao">Clientes</p>
            </div>
        </a>

        <!-- Botão para acessar pedidos -->
        <div class="botao">
            <img src="/images/order.png" alt="icone usuário" class="icons">
            <p class="text_botao">Pedidos</p>
        </div>

        <!-- Botão para acessar orçamentos -->
        <div class="botao">
            <img src="/images/budget.png" alt="icone usuário" class="icons">
            <p class="text_botao">Orçamento</p>
        </div>

        <!-- Botão para acessar materiais -->
        <div class="botao">
            <img src="/images/budget.png" alt="icone usuário" class="icons">
            <p class="text_botao">Materiais</p>
        </div>
    </div>
</body>

</html>
